<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>ORDER SEARCH:</h1>
<form action="/order/total">
    <table>
        <tr>
            <td>ORDER NUMBER:</td>
            <td><input type="text" name="order_id"></td>
        </tr>
        <tr>
            <td><span><button type="submit" value="SEARCH">search</span></td>
        </tr>
    </table>

</form>
</body>
</html>